/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Arial, sans-serif;
}

/* LOGIN */

.login-body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
}

.logo {
  width: 90px;
  margin-bottom: 15px;
}

.login-container {
  background: rgba(20, 20, 30, 0.95);
  padding: 35px;
  border-radius: 18px;
  width: 320px;
  text-align: center;
  box-shadow: 0 0 25px #00f7ff;
  color: white;
}

.login-container h2 {
  margin-bottom: 20px;
  color: #00f7ff;
}

.login-container input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: none;
  outline: none;

  background: #111;
  color: #fff;
  border: 1px solid #00f7ff;
}

.login-container input::placeholder {
  color: #aaa;
}

.login-container button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;

  background: linear-gradient(90deg, #00f7ff, #00ff88);
  color: black;
  font-weight: bold;

  border: none;
  border-radius: 8px;
  cursor: pointer;

  transition: 0.3s;
}

.login-container button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px #00f7ff;
}

.info-login {
  margin-top: 12px;
  font-size: 12px;
  color: #aaa;
}

/*NDEX 

body {
  background: linear-gradient(135deg, #141e30, #243b55);
  background-size: cover;
  color: white;
}

/* HEADER + BUSCA */
header {
  background: rgba(0, 0, 0, 0.7);
  padding: 15px 25px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  backdrop-filter: blur(10px);
  box-shadow: 0 0 15px #00f7ff;
}

/* Barra de busca melhorada */
header input {
  padding: 10px 15px;
  border-radius: 25px;
  border: none;
  outline: none;

  width: 220px;

  background: #111;
  color: white;
  border: 1px solid #00f7ff;

  transition: 0.3s;
}

header input:focus {
  width: 260px;
  box-shadow: 0 0 10px #00f7ff;
}

/*  GRID  */

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 25px;
}

/* CARD */
.card {
  background: rgba(20, 20, 30, 0.95);
  padding: 20px;
  border-radius: 15px;

  box-shadow: 0 0 15px rgba(0, 255, 255, 0.2);
  transition: 0.3s;

  text-align: center;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px #00f7ff;
}

.card h3 {
  margin-bottom: 10px;
  color: #00f7ff;
}

.card p {
  color: #00ff88;
}

.card button {
  margin-top: 15px;
  padding: 10px;
  width: 100%;

  background: linear-gradient(90deg, #00ff88, #00f7ff);
  color: black;
  font-weight: bold;

  border: none;
  border-radius: 8px;
  cursor: pointer;

  transition: 0.3s;
}

.card button:hover {
  box-shadow: 0 0 15px #00ff88;
  transform: scale(1.05);
}